---
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>C.H. Franklin</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="landing-page">
    <!-- Main Photo -->
    <img src="/backgroundimage.JPG"class="hero-image">

    <!-- Logo with fade-in effect -->
    <img src="/logo.png" class="logo">
  </div>
</body>
</html>
